.vertical ul>ul{
    display: none;
}

.horizontal{
    display: flex;
}

.horizontal div{
    height: 20px;
    width: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 5px;
    border: 2px solid black;
}

.horizontal ul{
    display: none;
    color: black;
    list-style: none;
    padding-left: 10px;
}
