table{
    height: 400px;
    width: 400px;
    margin:150px;
    border: 2px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding:5px 5px 5px 5px;
}

img{
    height: 500px;
    width: 500px;
}